.user-details-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 3px;
  background: white;
}

.general-info {
  flex-direction: column;
  padding-bottom: 10px;
  padding: 10px;
}

.user-follow-div {
  border-top: 1px solid var(--border-color);
  padding: 10px;
}

.user-fullname {
  color: var(--secondary-gray);
  margin-bottom: 5px;
}

.user-bio {
  margin-top: 10px;
  font-size: var(--font-x-small);
}

.following-text {
  color: var(--secondary-gray);
  font-size: var(--font-medium);
  margin-bottom: 5px;
}

.some-footer {
  font-size: var(--font-x-small);
  padding: 10px;
  border-top: 1px solid var(--border-color);
}
