.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 3px;
  background: white;
  padding: 10px;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-direction: column;
  height: 40px;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.card-footer {
  display: flex;
  align-items: center;
  height: 30px;
  text-align: center;
}

.card-link {
  margin-right: 15px;
  font-size: 13px;
}

.card-title {
  font-weight: 500;
}

.card-subtitle {
  font-size: 12px;
  margin-top: 3px;
}
